.NavBar-Container{
    width: 100%;
    background-color: rgb(246, 118, 72);
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}
h2{
    font-size: 2rem;
    position: relative;
    right: 13rem;
    color: aliceblue;
    margin: 1rem auto;
}
.main-image{
    width: 100%;
    height: 25rem;
    z-index: 0;
    overflow: hidden;
    object-fit: cover;
}

img{
    width: 100%;
    height: auto;
}