.Card-Container{
    padding: 7px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 15%;
    background-color:rgb(141, 68, 16) ;
    margin: 1rem auto;
    border-radius: 20px;
    border: 2px solid white;
}
.cartImg{
    width: 30px;
    height: 30px;
}
button{

    margin: 0 0 0 10px;
    color: aliceblue;
    background-color: rgb(77, 25, 5);
}